td, th {
	border: 1px solid;
  text-align: center;
  
  }

img {
  width: 200px;
  height:200px;
  }

body {
  font-size: 16px;
  background-color: honeydew;
  border: 0px;
  }
  
h1 {
  text-align: center;
  font-size: 64px;
  font-family: Arial;
  }
  
seq {
  font-size: 12px;
  font-family: Arial;
  }
  
#planets {
  margin-left: auto;
  margin-right: auto;
  background-color: darkseagreen;
  
  }
  
.planet_names {
  font-size: 36px;
  font-family: Arial;
  }
  
.mercury {
  background-color: #ababab;
  }
  
.venus {
  background-color: #dfa13c;
  }
  
.earth {
  background-color: #b4b8d9;
  }
  
.mars {
  background-color: #a0826a;
  }
  
 .sidebar {
  font-size: 24px;
  font-family: Arial;
  }
  
.imageback {
  background-color: black;
  }